.chat__screen__default {
  width: 70%;
  background: linear-gradient(to right, #f2f2f2, #dbdbdb, #eaeaea);


}
.chat {
  &__message {
    &__timestamp {
      font-style: italic;
    }
  }
    &__screen {
      &__component {
        width: 70%;
        background: linear-gradient(to right, #f2f2f2, #dbdbdb, #eaeaea);
        height: 100%;

      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #0f2027;
        padding: 16px;
        height: 10%;
      }

      &__messages {
        height: 70%;
      }
    }
}
.scrollableFeed {
  height: 100% !important;
}
